name: Run Competitor Spy

on:
  workflow_dispatch: # Button to run manually

jobs:
  spy-job:
    runs-on: ubuntu-latest

    steps:
      - name: Code le kar aao
        uses: actions/checkout@v3

      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Tools Install karo
        run: pip install yt-dlp

      - name: Jasoosi Shuru Karo
        run: python spy.py
